<!DOCTYPE html>
<html lang="en">
<%- include("./components/head", {
    title: "Buy Best International Premium Beauty Products & Luxury Cosmetics Online in India - MyGlamm" }) %>

    <body>
        <header>
            <%- include("./components/header") %>
        </header>
                    <div id="slide__container" class="container-fluid">

                <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active" data-bs-interval="8000">
                        <img src="https://files.myglamm.com/site-images/original/Homepage-banner-desktop-SK395_1.jpg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item" data-bs-interval="5000">
                        <img src="https://files.myglamm.com/site-images/original/Desktop-Sf-KV-banner.jpg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item" data-bs-interval="2000">
                        <img src="https://files.myglamm.com/site-images/original/Homepage-banner-Web.jpg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item" data-bs-interval="1000">
                        <img src="https://files.myglamm.com/site-images/original/1920x527.jpg" class="d-block w-100" alt="...">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
        
            </div>
        <!-- <section id="slide__container">
            <div id="slideshow__container"><a href=""><img id="IMG"
                        src="https://files.myglamm.com/site-images/original/Homepage-web-Website_1.jpg" alt=""></a>
            </div>
            <script src="scripts/slideShow.js"></script>
        </section> -->
        <main>
            <!-- <div class="container-fluid">

                <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active" data-bs-interval="8000">
                        <img src="https://files.myglamm.com/site-images/original/Homepage-banner-desktop-SK395_1.jpg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item" data-bs-interval="5000">
                        <img src="https://files.myglamm.com/site-images/original/Desktop-Sf-KV-banner.jpg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item" data-bs-interval="2000">
                        <img src="https://files.myglamm.com/site-images/original/Homepage-banner-Web.jpg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item" data-bs-interval="1000">
                        <img src="https://files.myglamm.com/site-images/original/1920x527.jpg" class="d-block w-100" alt="...">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
        
            </div> -->
            <div class="container">
                
                <div class="row mt-4">
                    <img 
                    src="https://files.myglamm.com/site-images/original/Sleek-Banner-Best899.jpg">
                </div>
                <div class="row mt-5">
                    <img src="https://files.myglamm.com/site-images/original/1920-x-527.jpg">
                </div>
        
                <div class="row text-uppercase fw-bolder  fs-3 text mt-5 "><p class="text-center line">Offer of the week</p></div>
                <!-- <div class="line"></div> -->
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                      <div class="card">
                        <img src=" https://files.myglamm.com/site-images/original/SK395-Desktop.jpg"class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title text-center">Lit Liquid Matte Lipstick Offer</h5>
                         </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                        <img src="https://files.myglamm.com/site-images/original/Get2-desk.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title text-center">Buy 1 Get 1 Free</h5>
                         </div>
                      </div>
                    </div>
                    <div class="col">
                        <div class="card">
                          <img src="https://files.myglamm.com/site-images/original/Get2-desk.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title text-center">Buy 1 Get a shade Free</h5>
                           
                          </div>
                        </div>
                      </div>
                  
                      <div class="col">
                        <div class="card">
                          <img src="https://files.myglamm.com/site-images/original/skincare-Desktop.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title text-center">Buy 1 Get 1</h5>
                           
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="card">
                          <img src="https://files.myglamm.com/site-images/original/makeup-Desktop.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title text-center">Buy 1 Get 1 Free </h5>
                         
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="card">
                          <img src="https://files.myglamm.com/site-images/original/SK395-Desktop.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title text-center">Buy 1 Get 1 Free </h5>
                           
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="card">
                          <img src="https://files.myglamm.com/site-images/400x400/tinted-perfection-base-primer-pore-minimiser-open-product-with-swatch.jpeg" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title text-center">Lit Liquid Matte Lipstick Offer</h5>
                          
                          </div>
                        </div>
                      </div>
                      <div class="col mb-5">
                        <div class="card">
                          <img src="https://files.myglamm.com/site-images/400x400/1627823298280-08-slow-fade-2.jpeg" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title text-center">Buy 1 Get 1 Free</h5>
                           
                          </div>
                        </div>
                      </div>
                    
            </div>
            </div>
              <div class="row mt-5"><img src="https://files.myglamm.com/site-images/original/Community-Banner-2240-x-344_1.jpg"></div>
        
            <div class="images-container">

                <a href="#"><img class="img1__after--slideshow"
                        src="https://files.myglamm.com/site-images/original/Lip-Sleek-Banner-Web.jpg"
                        alt="image 1 after slideshow"></a>

                <a href="#"><img class="img2__after--slideshow"
                        src="https://files.myglamm.com/site-images/original/Homepage_15.jpg"
                        alt="iamge 2 after slideshow"></a>

                <p class="bestsellers">BESTSELLERS</p>

                <div id="home__products">
                    <% products.forEach((product)=> { %>

                        <a href="<%= `categories/products/${product._id}` %>" class="product-box">
                            <img src="<%= product.imagesSmall[0] %>" alt="">
                            <p>
                                <%= product.name %>
                            </p>
                            <p>
                                <%= product.description %>
                            </p>
                            <p>
                                <%= product.price %>
                            </p>
                        </a>

                        <%})%>
                </div>

                <div>

                    <a href="#"><img class="img2__before--video"
                            src="https://files.myglamm.com/site-images/original/Community-Banner-2240-x-344_1.jpg"
                            alt="img above video " /></a>

                </div>
                 <%- include("./components/footer") %>
        </main>
        <footer>

        </footer>
    </body>

</html>
<script src="scripts/index.js"></script>