<!DOCTYPE html>
<html lang="en">
    <%- include("../components/head", {
        title: `Shopping Bag`
    }) %>
<body>
    <header>
        <%- include("../components/header") %>
    </header>
    <main>
        <p>MY BAG <span id="total__products"><%= user.totalItemsInBag %></span> </p>
        <div id="bag__items">
            <% bag.forEach((product, i) => { %>
                <div class="bag__product--box">
                    <img src="<%= products[i].imagesSmall[0] %>" alt="">
                    <p><%= product.name %></p>
                    <p><%= product.price %></p>
                    <input type="number" value="<%= product.quantity %>" placeholder="<%= product.quantity %>">
                    <p><%= (product.quantity * product.price) %></p>
                    <button><span class="material-icons-outlined">clear</span></button>
                </div>
            <%})%>
        </div>
        <div id="cart__cashback">
            <p>You will earn <span id="cashback"></span> as cashback on this order.</p>
            <p>GRAND TOTAL <span id="checkout__price"><%= user.totalPrice %></span></p>
        </div>
        <button id="checkout__btn"><a id="checkout__link">PROCEED TO CHECKOUT</a></button>
    </main>
    <footer>
  
    </footer>
</body>
</html>
<script>
    let checkout = document.getElementById("checkout__btn");
    checkout.onclick = async () => {
        let id = JSON.parse(localStorage.getItem('id'));
        window.location.href = `http://localhost:5555/bags/checkout/${id}`;
    }
</script>


