<!DOCTYPE html>
<html lang="en">
    <%- include("../components/head", {
        title: `${category.name} - Buy ${category.name} Products Online at Best Price - MyGlamm `
    }) %>
<body>
    <header>
        <%- include("../components/header") %>
    </header>

    <main>
        <p>HOME /<%= category.name %></p>
        <hr>
        <h3><%= category.name %></h3>
        <section  id="category__products">
            <% products.forEach((product) => { %>

            <a href="<%= `products/${product._id}` %>" class="product-box">
                <img src="<%= product.imagesSmall[0] %>" alt="">
                <p><%= product.name %></p>
                <p><%= product.description %></p>
                <p><%= product.price %></p>   
            </a>

            <%})%>
        </section>
    </main>
    <footer>
        <%- include("../components/footer") %> 
    </footer>
</body>
</html>