<!DOCTYPE html>
<html lang="en">
    <%- include("../components/head", {
        title: `${category.name} - Buy ${category.name} Products Online at Best Price - MyGlamm `
    }) %>
<body>
    <header>
        <%- include("../components/header") %>
    </header>

    <main class="container">


        <p>HOME /<%= category.name %></p>
        <hr>
        <h3><%= category.name %></h3>
        <hr>
        <% products.forEach((product) => { %>
        <a href="<%= `products/${product._id}` %>"><div class="row row-cols-1 row-cols-md-3 g-5">
            <div class="col">
                <div class="card">
                  <img src="<%= product.imagesSmall[0] %>" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title fw-bold"><%= product.name %> ...</h5>
                    <p class="card-text fs-5 text detail"><%= product.description %></p>
                  </div>
                  <p class="fs-4 text mx-3 box">&#x20B9 <%= product.price %></p>
                </div>
            </div> 
        </div>
        </a>
        <%})%>
        <hr>


        <!-- ______________________________________ -->

    </main>
    <footer>
        <%- include("../components/footer") %> 
    </footer>
</body>
</html>