<!DOCTYPE html>
<html lang="en">
    <%- include("../components/head", {
        title: `${category.name} - Buy ${category.name} Products Online at Best Price - MyGlamm `
    }) %
<body>
    <header>
        <%- include("../components/header") %>
    </header>
    <main>
        <p>HOME /<%= category.name %></p>
        <hr>
        <h3><%= category.name %></h3>

        <% category.productsId.forEach((product) => { %>

            

        <%})%>

    </main>
    <footer></footer>
</body>
</html>



<% users.forEach(function (user) {%>
                <button onclick="clickUser(<%= JSON.stringify(user) %>)">Click</button>
                <li>First Name: <%= user.first_name %></li>
                <li>Last Name: <%= user.last_name %></li>
                <a href="/users/<%= user._id %>">Indiviual User Page</a>
                <!-- users/614dbc3d1d67f9f3ecb3153b -->
            <% }) %>