<!DOCTYPE html>
<html lang="en">
    <%- include("../components/head", {
        title: `Buy ${product.name}`
    }) %>
<body>
    <header>
        <%- include("../components/header") %>
    </header>
    <main>
        <section>HOME / <%= category.name %> / <%= product.name %></section>
            <hr>
        <section>
            <div id="img__container" class="image__container">
                <div id="image__slider"></div>
                <div id="image__onfocous">
                    <img src="<%= product.imagesSmall[0] %>" alt="">
                </div>
            </div>
            <div id="details__container" class="dtls__container">
                <h2 class="product__name"><%= product.name %> </h2>
                <p class="product__description"><%= product.description %> </p>
                <p class="rating"><%= product.rating %></p>
                <p class="rating__giver"><%= product.totalRatingGiver %> </p>
                <p class="product__price"><%= product.price %> </p>
                <button id="addto__bag--btn" class="addtobag" value="<%= product._id %>">ADD TO BAG</button>
            </div>
        </section>
    </main>
    <footer>
       
    </footer>
</body>
</html>
<!-- <script src="scripts/mobile.js"></script> -->
<script>
let updateUser = async (totalItemsInBag, totalPrice, id)=> {
   let user = await fetch(`http://localhost:5555/users/${id}`, {
            method: 'PATCH',
            body: JSON.stringify ({
                totalItemsInBag,
                totalPrice
            }),
               headers: {'Content-type': 'application/json'},
        })
}

let addBtn = document.getElementById("addto__bag--btn");

addBtn.onclick = async  ()=> {


    const userId = JSON.parse(localStorage.getItem('flag'));

    let user = await fetch(`http://localhost:5555/users/mobile/${userId}`);
    user = await user.json();

    try {
       var bagItem = await fetch(`http://localhost:5555/bags/user/${user._id}/${addBtn.value}`)
       bagItem = await bagItem.json();

       if(bagItem.product !== null) {
        await fetch(`http://localhost:5555/bags/${bagItem.product._id}`, {
            method: 'PATCH',
            body: JSON.stringify({
                quantity: `${+bagItem.product.quantity + 1}`
            }),
            headers: {"content-type": 'application/json'},
       })

       updateUser((user.totalItemsInBag + 1), (user.totalPrice + bagItem.product.price), user._id)
       Window.location.reload()
       } else {

        let product = await fetch(`http://localhost:5555/products/${addBtn.value}`);
        product = await product.json();

        let bagitem = await fetch(`http://localhost:5555/bags`, {
            method: 'POST',
            body: JSON.stringify ({
                userId: user._id,
                productId: addBtn.value,
                name: product.item.name,
                price: product.item.price,
                quantity: 1,
            }),
            headers: {"content-type": 'application/json'}
        })
        bagitem = await bagitem.json();

        updateUser((user.totalItemsInBag + 1), (user.totalPrice + product.item.price), user._id)
        Window.location.reload()
       }
    } catch (err) {
        console.log("err", err);
    }    
}
</script>