<!DOCTYPE html>
<html lang="en">
    <%- include("../components/head", {
        title: `Buy ${product.name}`
    }) %>
<body>
    <header>

    </header>
    <main>
        <section>HOME / <%= category.name %> / <%= product.name %></section>
            <hr>
        <section>
            <div id="img__container" class="image__container">
                <div id="image__slider"></div>
                <div id="image__onfocous">
                    <img src="<%= product.imagesSmall[0] %>" alt="">
                </div>
            </div>
            <div id="details__container" class="dtls__container">
                <h2 class="product__name"><%= product.name %> </h2>
                <p class="product__description"><%= product.description %> </p>
                <p class="rating"><%= product.rating %></p>
                <p class="rating__giver"><%= product.totalRatingGiver %> </p>
                <p class="product__price"><%= product.price %> </p>
                <button id="addto__bag--btn" class="addtobag" value="<%= product._id %>">ADD TO BAG</button>
            </div>
        </section>
    </main>
    <footer>
       
    </footer>
</body>
</html>
<!-- <script src="scripts/mobile.js"></script> -->
<script>


let addBtn = document.getElementById("addto__bag--btn");

addBtn.onclick = async  ()=> {


    let userId = JSON.parse(localStorage.getItem('flag'));

    console.log("In");
    let user = await fetch(`http://localhost:5555/users/${userId}`);
    user = await user.json();
    console.log(user);
    try {
       let product = await fetch(`http://localhost:5555/bags/${addBtn.value}/${userId}`)
       product = await product.json();
       console.log("product", product);
       if(product !== null) {
        await fetch(`http://localhost:5555/bags/${product._id}`, {
            method: 'PATCH',
            body: JSON.stringify({
                quantity: `${+product.quantity + 1}`
            }),
            headers: {"content-type": 'application/json'},
       })
       } else {
        await fetch(`http//localhost:5555/bags`, {
            method: 'POST',
            body: JSON.stringify ({
                productId,
                userId,
                quantity: 1,
            })
        })
        await fetch(`http//localhost:5555/users/${userId}`, {
            method: 'PATCH',
            body: JSON.stringify ({
                totalItemsInBag: `${user.totalItemsInBag + 1}`
            }),
            headers: {"content-type": 'application/json'}
        })
       }
       await fetch(`http://localhost:5555/bags/${product._id}`, {
            method: 'PATCH',
            body: JSON.stringify({
                quantity: `${+product.quantity + 1}`
            }),
            headers: {"content-type": 'application/json'},
       })
    } catch (err) {
        // await fetch(`http//localhost:5555/bags`, {
        //     method: 'POST',
        //     body: JSON.stringify ({
        //         productId,
        //         userId,
        //         quantity: 1,
        //     })
        // })
        // await fetch(`http//localhost:5555/users/${userId}`, {
        //     method: 'PATCH',
        //     body: JSON.stringify ({
        //         totalItemsInBag: `${user.totalItemsInBag + 1}`
        //     }),
        //     headers: {"content-type": 'application/json'}
        // })
    }    
}
</script>