
<!DOCTYPE html>
<html lang="en">
    <%- include("../components/head", {
        title: "MyGlamm - Sign-up"
    }) %>
<body>
    <header>
        <%- include("../components/header") %> 
    </header>
    <main>
        <p class="headP">VERIFY YOUR PHONE NUMBER TO COMPLETE YOUR REGISTRATION</p>
        <p id="signup__display--phone"><%= mobile.countryCode %>-<%= mobile.mobile %></p>
        
        <form action="/users" method="post" id="form__signup">
            <input style="display: none;" type="hidden" name="mobileId" value="<%= mobile._id %>">
            <input type="password" id="signup__otp" autofocus required>
            <label id="nameLabel" for="signup__name">Name</label>    
    
            <label id = "emailLabel" for="signup__email">Email</label>
            <input id = "signup__name" name="full_name" type="text" placeholder="*Full Name" required autofocus autocomplete="name">

            <input id = "signup__email" name="email" type="email" placeholder="*Email Address" required autofocus autocomplete="email">

            <button id="signup__verify" name="_id", value="<%= id %>">VERIFY</button>
        </form> 
    </main>
    <footer>

    </footer>
</body>
</html>
<!-- <script src="scripts/signup.js"></script> -->
<script>
    // document.getElementById("form__signup").onsubmit = (e) => {
    //     e.preventDefault();
        
    // }
</script>